
*, *:before, *:after {
  box-sizing: border-box;
}

.arrival-time {
  float: right;
	padding-top: .2em;
  width: 30%;
}

.arrival-time h1 {
  font-weight: 200;
  text-align: right;
  padding-right: 1em;
}

.arrival-time-suspended {
  float: right;
	padding: 0 1.4em 0 0;
  width: 30%;
}

.arrival-time-suspended h1 {
  font-weight: 200;
  font-size: 1.5em;
  text-align: right;
}

.arrival-time-suspended h5 {
  font-weight: 200;
  font-size: 1.3em;
  text-align: right;
}

.arrow-left {
  color: #007AFF;
  float: left;
  /* margin-top: .4%; */
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.content {
	float: left;
  width: 70%;
  padding: 0 0 1em 1em;
}

.content h2 {
  padding-left: 4.5em;
}

.content h3{
  padding-left: 3.86em;
}

.content h4{
  float: left;
  font-size: 2.5em;
  font-weight: 200;
  padding-left: .2em;
  text-align: right;
}

.fa-bus{
  color: #007AFF;
}

.fa-clock,.fa-star{
  color: #007AFF;
}

.footer {
  background-color: #eee;
  width: 100%;
}

.footer-icons {
  color: #888;
  display: inline-block;
  margin: 1em 4.5%;
  width: 10%;
}

.selected-icon h6 {
  color: #007AFF;
  padding-left: 4px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5em;
  font-weight: 700;
  padding: 2%;
}

h5 {
  font-size: 1.3em;
  line-height: 1.2em;
}

h6 {
  font-size: 1.2em;
  line-height: 1.4em;
}

.img {
  max-width: 100%;
  max-height: 100%;
}
.location {
  background-color: inherit;
  border-bottom: 1px solid #000;
  padding: 1em 0 0 0;
	float: left;
	width: 100%;
}

nav {
  background-color: #fff;
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: sticky;
  width: 375px;
}

.nav-back{
  color: #007AFF;
  display: inline-block;
  font-size: 1.3em;
  margin-left: 1.5%;
}

.nav-clock {
  display: inline-block;
  margin: 1%;
}

.nav-title {
  color: #000;
  display: inline-block;
  margin: 0 8%;
  text-align: center;
}

.nextbus-list {
  padding: 0 0 0 0;
  width: 100%;
  background-color: #fff;
}

.pin {
  display: inline-block;
}

.stop-name {
  background-color:#eee;
  padding: 1em 0 .2em 2em;
}

.stop-name h2 {
  text-transform: uppercase;
  weight: 200;
}

.stop-name h4 {
  display: inline-block;
  padding: .8em 0 .8em .8em;
}
