*, *:before, *:after {
  box-sizing: border-box;
}

.arrow-left {
  color: #007AFF;
  float: left;
  margin-left:.45em;
}

body {
  background-color: #333;
  font-family: "SF Pro Text", Arial, Sans-Serif;
  font-size: 10px;
}

.center {
  display: inline-block;
  padding: 1.6em 0 .5em 0;
  width: 55%;
}

.center-oos{
  display: inline-block;
  padding: 2em 0 .5em 0;
  width: 55%;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.fa-bus{
  color: #007AFF;
}

.fa-map-pin{
  color:#000;
  /* display: inline-block; */
}

.fa-train, .fa-star, .fa-map-marker-alt, .fa-wrench, .fas {
  color: #888;
}

.footer {
  background-color: #eee;
  bottom: 0;
  position: fixed;
  width: inherit;
}

.footer-icons {
  padding-top: .7em;
}

.footer-icon-row{
  height: 2em;
  vertical-align: bottom ;
}

.footer-table{
  /* background-color: #000; */
  table-layout: fixed;
  text-align: center;
  width:100%;
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 700;
  padding: 2%;
}

h2 {
  font-size: 1.3em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: .8em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.9em;
  font-weight: 300;
  line-height: .8em;
}

h5 {
  font-size: 1.3em;
  line-height: .8em;
}

h6 {
  font-size: 1.2em;
  line-height: 1.6em;
  padding: .2em 0 .5em 0;
}

.fa-bus h6 {
  color:#007AFF;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.left {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 100;
  padding: .65em 0 .5em .5em;
  text-align: left;
  vertical-align: top;
  width: 18%;
}

.left-oos {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 100;
  padding: .6em 0 .5em .5em;
  text-align: left;
  vertical-align: top;
  width: 18%;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: inherit;
}

.nav-cell-1 {
  padding: 1em 0 0;
  text-align: left;
  width:21%;
}

.nav-cell-3 {
  padding: 1em 1.5em 0 0;
  text-align: right;
  width: 21%;
}

.nav-cell-2 {
  text-align: center;
  width: 57%;
}
.nav-cell-2 h4 {
  font-size: 2em;
  font-weight: 700;
  line-height: .7em;
}

.nav-info {
  color: #007AFF;
  display: inline-block;
  margin: 1%;
}

.nav-3 {
  margin-left: .7em;
}

.nav-table {
  height: 50px;
  margin: 0 0 5em 0;
  vertical-align: middle;
  width: 100%;
}

.nav-table h2 {
  color: #007AFF;
  font-size: 1.5em;
  padding: .55em 0 0 32px;
}

.nextbus-container {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.nextbus-list {
  background-color: #fff;
  padding: 0 0 0 0;
  width: 100%;
}

.out-of-service, .stop-name {
  background-color: #eee;
  padding: 1em 0 .2em 2em;
}

.out-of-service h2, .stop-name h2 {
  text-transform: uppercase;
  weight: 200;
}

.placeholder-for-footer {
  background-color: #fff;
  height: 65px;
}

.placeholder-for-navbar {
  background-color: #fff;
  height:138px;
}

.pin {
  display: inline-block;
}

.right {
  display: inline-block;
  padding: 1.3em 1em 1.3em 0;
  text-align: right;
  vertical-align: top;
  width: 25%;
}

.right-oos {
  display: inline-block;
  padding: 1.3em 1em 1.5em 0;
  text-align: right;
  vertical-align: top;
  width: 25%;
}

.right-oos h4 {
  font-size: 1.5em;
}

.stop-name {
  position: fixed;
  top: 72px;
  width: inherit;
}

ul {
  padding: 0;
  width: 100%;
}
